<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <bean id="student" class="com.mycompany.dao.Student" autowire="byType">
        <property name="firstName" value="Bob" />
        <property name="lastName" value="Stewart" />
        <property name="DOB" value="February 28th, 1987" />
    </bean>
    
    <bean id="address" class="com.mycompany.dao.Address">
        <property name="street" value="5555 Hollywood Dr." />
        <property name="zip" value="99068" />
        <property name="city" value="Los Angeles, CA" />
    </bean>
    
    <bean id="grade" class="com.mycompany.dao.Grade">
        <property name="subject" value="Art History" />
        <property name="letterGrade" value="B" />
    </bean>
    
</beans>
